
/* CSS Document */

/* Clear Floated Elements
---------------------------------*/
.clear{
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}

.clearfix:before,
.clearfix:after{
  content:'\0020';
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}

.clearfix:after{
  clear:both;
}

.figure{ margin:0px; }

img{ max-width:100%; }

/* Primary Styles
https://www.color-hex.com/color-palette/84470
---------------------------------*/
html, body {
  height:100%;
}
body{
	background:#fff;
	font-family:'Montserrat',sans-serif;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	color:#000;
	margin:0;
	display:flex;
  	flex-direction:column;
}
h1{
	font-size:50px;
	font-weight:50;
	letter-spacing:10px;
	margin:0;
	color:#292929;
}
a, a:hover, a:active{ outline:0px !important}

/* Header Styles
---------------------------------*/
.header{
	padding:10% 0;
	margin-top:50px;
	flex:1 0 auto;
}
.header .logo{
	width:130px;
	margin:0 auto 10px;
}
a.links{
	line-height:24px;
	margin:0;
	font-family:'Montserrat',sans-serif;
	font-size:13px;
	color:#5e5e5e;
	font-weight:400;
	letter-spacing:3px;
	margin:0;
	padding:0;
	text-transform:uppercase;
	color:#6685c7;
	text-decoration:none;
}
a.links:hover{
	color:#8896d8;
	text-decoration:underline;
}
.footer {
	flex-shrink: 0;
	margin: 0 auto 5px;
}